.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space3);
  padding: var(--space4) var(--space5);

  &__logo {
    flex-shrink: 0;
    width: var(--logo-size);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    flex-shrink: 1;
    font-size: var(--heading-text-fs);
    font-weight: 900;
    text-align: center;
  }

  &__language {
    flex-shrink: 0;
  }
}
