.Title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
}

.Subtitle {
  color: #71727a;
  font-size: var(--main-text-fs);
  font-weight: 400;
}
