.Step {
  position: relative;
  display: none;
  margin-top: var(--space5);
  flex-grow: 1;
  width: 100%;
  max-width: 950px;
  align-self: center;

  &.is-visible {
    display: flex;
    flex-direction: column;
  }
}
