.Checkbox {
  position: relative;
  display: block;

  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: var(--space3);
    border-radius: 12px;
    font-size: var(--main-text-fs);
    line-height: 20px;
    margin-bottom: var(--space2);
    border: 1px solid #dedede;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    user-select: none;

    &:active {
      transform: scale(0.99);
    }
  }

  &__icon {
    min-width: 12px;
  }

  &--checked {
    label {
      background: #eaf2ff;
      border-color: #eaf2ff;
    }
  }
}
